<div class="page-container">

  <div class="plan-card">
    <h1 class="plan-title">Nursing Home Plan</h1>

    <p class="plan-description">
      A robust and comprehensive solution for care institutions looking to optimize management,
      improve communication, and elevate their standard of care.
    </p>

    <div class="discount">Save 15% annually</div>

    <!-- Monthly -->
    <div class="price-box">
      <div class="plan-price">$300</div>
      <div class="plan-sub">Per month</div>

      <button class="button-choose" (click)="choosePlan('monthly')">
        Choose Monthly Plan
      </button>
    </div>

    <!-- Annual -->
    <div class="price-box">
      <div class="plan-price">$3000</div>
      <div class="plan-sub">Per year</div>

      <button class="button-choose" (click)="choosePlan('annual')">
        Choose Annual Plan
      </button>
    </div>

    <h3 class="features-title">Features</h3>
    <ul class="feature-list">
      <li>Unlimited resident registration.</li>
      <li>Medical history and medication management.</li>
      <li>Multi-user roles (admin, nursing, admin staff).</li>
      <li>Staff schedule + shift management.</li>
      <li>Attendance tracking.</li>
      <li>Advanced reports and dashboards.</li>
      <li>Basic API integration + data export.</li>
    </ul>
  </div>

</div>
