<app-layout-nursing-home>
  <h1 class="title">{{ 'medications.list-title' | translate }}</h1>

  <div class="search-container">
    <mat-form-field appearance="outline">
      <mat-label>{{ 'Search' | translate }}</mat-label>
      <mat-icon matPrefix>search</mat-icon>
      <input
        matInput
        [placeholder]="'Enter the name' | translate"
        [value]="searchTerm()"
        (input)="searchTerm.set($any($event.target).value)"
        type="text"/>
      @if (searchTerm()) {
        <button matSuffix mat-icon-button (click)="searchTerm.set('')">
          <mat-icon>close</mat-icon>
        </button>
      }
    </mat-form-field>
  </div>

  <div class="content-with-toolbar">
    <div class="list-container">
      <!-- Error State -->
      @if (store.error()) {
        <mat-error class="error-message">{{ store.error() }}</mat-error>
      }

      <!-- Table Container -->
      <div class="table-container">
        <div class="table">
          <table mat-table [dataSource]="filteredMedications()" class="medications-table">
            <!-- Name Column -->
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef (click)="toggleSort('name')">
                <div class="header-content">
                  {{ 'medications.name' | translate }}
                  <mat-icon class="header-icon">
                    @if (selectedColumn() !== 'name') { unfold_more }
                    @else if (sortDirection() === 'asc') { arrow_drop_up }
                    @else { arrow_drop_down }
                  </mat-icon>
                </div>
              </th>
              <td mat-cell *matCellDef="let medication" class="name-cell">
                <div class="name-wrapper">
                  <span class="medication-name">{{ medication.name }}</span>
                </div>
              </td>
            </ng-container>

              <!-- Description Column -->
            <ng-container matColumnDef="description">
              <th mat-header-cell *matHeaderCellDef (click)="toggleSort('description')">
                <div class="header-content">
                  {{ 'Description' | translate }}
                  <mat-icon class="header-icon">
                    @if (selectedColumn() !== 'description') { unfold_more }
                    @else if (sortDirection() === 'asc') { arrow_drop_up }
                    @else { arrow_drop_down }
                  </mat-icon>
                </div>
              </th>
              <td mat-cell *matCellDef="let medication">{{ medication.description }}</td>
            </ng-container>

            <!-- Amount Column -->
            <ng-container matColumnDef="amount">
              <th mat-header-cell *matHeaderCellDef (click)="toggleSort('amount')">
                <div class="header-content">
                  {{ 'Amount' | translate }}
                  <mat-icon class="header-icon">
                    @if (selectedColumn() !== 'amount') { unfold_more }
                    @else if (sortDirection() === 'asc') { arrow_drop_up }
                    @else { arrow_drop_down }
                  </mat-icon>
                </div>
              </th>
              <td mat-cell *matCellDef="let medication">{{ medication.amount }}</td>
            </ng-container>

            <!-- Expiration Date Column -->
            <ng-container matColumnDef="expirationDate">
              <th mat-header-cell *matHeaderCellDef (click)="toggleSort('expirationDate')">
                <div class="header-content">
                  {{ 'medications.expiration-date' | translate }}
                  <mat-icon class="header-icon">
                    @if (selectedColumn() !== 'expirationDate') { unfold_more }
                    @else if (sortDirection() === 'asc') { arrow_drop_up }
                    @else { arrow_drop_down }
                  </mat-icon>
                </div>
              </th>
              <td mat-cell *matCellDef="let medication">{{ medication.expirationDate | date:'dd/MM/yyyy' }}</td>
            </ng-container>

            <!-- Drug Presentation Column -->
            <ng-container matColumnDef="drugPresentation">
              <th mat-header-cell *matHeaderCellDef (click)="toggleSort('drugPresentation')">
                <div class="header-content">
                  {{ 'drugPresentation' | translate }}
                  <mat-icon class="header-icon">
                    @if (selectedColumn() !== 'drugPresentation') { unfold_more }
                    @else if (sortDirection() === 'asc') { arrow_drop_up }
                    @else { arrow_drop_down }
                  </mat-icon>
                </div>
              </th>
              <td mat-cell *matCellDef="let medication">{{ medication.drugPresentation }}</td>
            </ng-container>

            <!-- Dosage Column -->
            <ng-container matColumnDef="dosage">
              <th mat-header-cell *matHeaderCellDef (click)="toggleSort('dosage')">
                <div class="header-content">
                  {{ 'dosage' | translate }}
                  <mat-icon class="header-icon">
                    @if (selectedColumn() !== 'dosage') { unfold_more }
                    @else if (sortDirection() === 'asc') { arrow_drop_up }
                    @else { arrow_drop_down }
                  </mat-icon>
                </div>
              </th>
              <td mat-cell *matCellDef="let medication">{{ medication.dosage}}</td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell" [attr.colspan]="displayedColumns.length">
                @if (store.loading()) {
                  <div class="loading-wrapper">
                    <mat-spinner diameter="40"></mat-spinner>
                  </div>
                } @else {
                  <div class="empty-state">
                    <mat-icon>medication</mat-icon>
                    <p>{{ 'medications.no-medications' | translate }}</p>
                  </div>
                }
              </td>
            </tr>
          </table>
        </div>

        <div class="paginator">
          <!-- Paginator -->
          <mat-paginator
            [pageSizeOptions]="[5, 10, 25, 50]"
            [pageSize]="10"
            showFirstLastButtons
            aria-label="Select page of medications">
          </mat-paginator>
        </div>
      </div>

      <!-- Action Buttons -->
      <div class="floating-actions">
        <button mat-raised-button
                color="accent"
                (click)="goBack()">
          <mat-icon>arrow_back</mat-icon>
          {{ 'residents.buttons.go-back' | translate }}
        </button>

        <button mat-raised-button color="accent" (click)="navigateToNew(residentId()!)">
          <mat-icon>add</mat-icon>
          {{ 'medications.add' | translate }}
        </button>
      </div>
    </div>
  </div>
</app-layout-nursing-home>
